<left>
<body>
<font face="Lato">
    <h1>
        Blood-Brain Barrier-Drug-Penetration-Predictions (BDPP)
    </h1>
    <h3>
        To calculate the probability of a drug to penetrate the blood-brain barrier input physico-chemical
        descriptors or/and upload a png file of the skeletal formula of the compound. Click on "Calculation" to
        receive the probability scores.
    </h3>
    <img src="{{href}}" height=1400/ align="left">
    <form method="POST" enctype="multipart/form-data">
    <div style="line-height: 450px">
        <label><b>If possible, upload a png file of the Natta Projection/skeletal formula
            (256px download via PubChem <a href="https://pubchem.ncbi.nlm.nih.gov/">PubChem</a>):</label>
            <input type="file" name="upload" accept=".png">
    </div>
    <div style="width: 2000px; height: 520px; ">
        <p><b>If available, input values of the following descriptors
            (access via PubChem <a href="https://pubchem.ncbi.nlm.nih.gov/">PubChem</a>,
            drugbank <a href="https://go.drugbank.com/">drugbank</a>,
            ChemSpider <a href="https://www.chemspider.com/">ChemSpider</a>,
            and ChEMBL <a href="https://www.ebi.ac.uk/chembl/">ChEMBL</a>):</b></p>


            <input name="mw" size="27" value="180.16">
            <label>- Molecular weight (MW)</label>
            </br>
            <input name="xlogP" size="27" value="1.2">
            <label>- Partition of the octanol/water partition coefficients (xlogP)</label>
            </br>
            <input name="HBD" size="27" value="1">
            <label>- H bond donor count (HBD)</label>
            </br>
            <input name="HBA" size="27" value="4">
            <label>- H bond acceptor count (HBA)</label>
            </br>
            <input name="RBC" size="27" value="3">
            <label>- Rotable Bond Count (RBC)</label>
            </br>
            <input name="TPSA" size="27" value="63.6">
            <label>- Topological polar surface area (TPSA)</label>
            </br>
            <input name="HAC" size="27" value="13">
            <label>- Heavy atom count (HAC) </label>
            </br>
            <input name="pka" size="27" value="3.49">
            <label>- Negative log base ten of the Ka value (pka)</label>
            </br>
            <input name="LogD" size="27" value="1.2">
            <label>- Distribution of the octanol/water partition coefficients (LogD)</label>
            </br>
            <input name="AR" size="27" value="0">
            <label>- Aromatic Rings (AR) </label>
            </br>
            <input name="ms" type="radio" value="0" checked="checked">Neutral</input>
            <input name="ms" type="radio" value="-1">Acid</input>
            <input name="ms" type="radio" value="1">Base</input>
            <label>- Select molecular species (MS): </label>
            </br>
            <button type="submit">Calculation</button><input type="reset">
    </div>
    </form>
    <div style="width: 2000px; height: 250px; ">
            <label><font size="6">Gupta BBB: {{gupta_score}}</font></label></br>
            <label><font size="6">RF-BDPP: {{rf_score}}</font></label></br>
            <label><font size="6">DL-BDPP: {{dl_score}}</font></label></br>
            <label><font size="6">DL-Image-BDPP: {{image_score}}</font></label></br>
    </div>
    <div style="width: 2000px; height: 200px; ">
        <img src='static/Legend.png' height=150/ align="center">
    </div>
      <footer>
         <a href="mailto:kontakt@example.com">Mail an kontakt@example.com</a>
         <p>© 2022 by selfHTML</p>
      </footer>
</body>
</left>
